@model E_ticket514.Models.ViewModels.MovieWithCategories_Cinemas_ActorsVM

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Movie</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Movie.Id" />
            <div class="form-group">
                <label asp-for="Movie.Name" class="control-label"></label>
                <input asp-for="Movie.Name" class="form-control" />
                <span asp-validation-for="Movie.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Movie.Description" class="control-label"></label>
                <input asp-for="Movie.Description" class="form-control" />
                <span asp-validation-for="Movie.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Movie.Price" class="control-label"></label>
                <input asp-for="Movie.Price" class="form-control" />
                <span asp-validation-for="Movie.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Movie.Images" class="control-label"></label>
                <input name="imgs" type="file" multiple class="form-control" />
                <span asp-validation-for="Movie.Images" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Movie.Status" class="control-label"></label>
                <select asp-for="Movie.Status" class="form-control" asp-items="Html.GetEnumSelectList<MovieStatus>()"></select>
                <span asp-validation-for="Movie.Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Movie.StartDate" class="control-label"></label>
                <input asp-for="Movie.StartDate" class="form-control" />
                <span asp-validation-for="Movie.StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Movie.CinemaId" class="control-label"></label>
                <select asp-for="Movie.CinemaId" class="form-control" asp-items="Model.Cinemas"></select>
                <span asp-validation-for="Movie.CinemaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Movie.CategoryId" class="control-label"></label>
                <select asp-for="Movie.CategoryId" class="form-control" asp-items="Model.Categories"></select>
                <span asp-validation-for="Movie.CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Actors</label>
                <select name="ActorsId" multiple class="form-control">
                   
                    @foreach(var item in Model.Actors)
                    {
                        var selected = Model.MyActors.Any(e => e.ActorId == int.Parse(item.Value));
                        if(selected)
                        {
                            <option selected value="@item.Value">@item.Text</option>
                        }
                        else
                        {
                            
                            <option value="@item.Value">@item.Text</option>
                        }
                    }
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
